{% extends 'base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Login to your account</h3>
        <h5>Start managing your client today!</h5>
        <hr />
        <br />
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{login_form.username|as_crispy_field}}
            <br>
            {{login_form.password|as_crispy_field}}
            <br>
            <button class="btn btn-primary w-100 btn-black p-2" type="submit">Login Now</button>
            <br>
            <br>
            <a href="{% provider_login_url 'google' %}"><button class="btn btn-primary w-100 btn-black p-2" type="button">Google</button></a>
            <div class="text-center">
                <p>Don't have an account ? <a href="{% url 'register' %}">Register Here</a> </p>
            </div>
        </form>
    </div>
</body>
{% endblock %}